<!DOCTYPE html>
<html ng-app="EnteDemoApp">
  <head>
    <title>Ente Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
      [ng-cloak]
      {
          display: none !important;
      }
    </style>
  </head>
  <body ng-controller="EnteDemoController">
    <div class="container">
      <h1>Ente Children 3000</h1>
      <form role="form" ng-submit="getResults()">
        <div class="form-group">
          <input type="text" name="node_id" class="form-control" id="node_id-box" placeholder="Enter Node ID:" style="max-width: 300px;" ng-model="input_node_id" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      {% raw %}
      <div id="error" class="alert alert-danger alert-dismissible fade in" ng-show="error" ng-cloak>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h2>Holy moly!</h2>
        <br>
        {{error}}
      </div>
      <div id="parent-table" ng-cloak ng-show="parent_nodes">
        <h2>Parent</h2>
        <table class="nodes table table-striped">
          <thead>
            <tr>
                <th>ID</th>
                <th ng-repeat="attrib in attribs">{{attrib}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="node in parent_nodes">
              <td>{{node.id}}</td>
              <td ng-repeat="key in attribs">{{node[key]}}</td>
            <tr>
          </tbody>
        </table>
      </div>
      <div id="children-table" ng-cloak ng-show="child_nodes">
        <h2>Children</h2>
        <table class="nodes table table-striped">
          <thead>
            <tr>
                <th>ID</th>
                <th ng-repeat="attrib in attribs">{{attrib}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="node in child_nodes | orderBy:'id'">
              <td>{{node.id}}</td>
              <td ng-repeat="key in attribs">{{node[key]}}</td>
            <tr
          </tbody>
        <table>
      </div>
      {% endraw %}
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
